@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager;

@{
    var showNavbar = ViewData["ShowNavbar"] as bool? ?? true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilRouge_TicketMaster_MVC_Core</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FilRouge_TicketMaster_MVC_Core.styles.css" asp-append-version="true" />
</head>
<body class="first-color d-flex flex-column min-vh-100">
    @if(showNavbar) {
        <header>
            <nav class="navbar navbar-expand navbar-light second-color box-shadow mb-3">
                <div class="container-fluid">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Customer"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="CustomerDashboard" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">
                                <img src="~/Img/Ticket_Master-LogoHeader.png" style="max-height: 65px" />
                            </a>
                        }
                        else
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="UserDashboard" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">
                                <img src="~/Img/Ticket_Master-LogoHeader.png" style="max-height: 65px" />
                            </a>
                        }
                    }
                    else
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/Img/Ticket_Master-LogoHeader.png" style="max-height: 65px" />
                        </a>
                    }
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
   
    <div class="container-fluid d-flex flex-grow-1">
        <main role="main" class="pb-3 pb-3 w-100 d-flex align-items-center justify-content-center">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
